.mainDisplay {
	display: flex;
	> * {
		flex-grow: 1;
		flex-basis: 0;
		margin: 0 1em;
		transform: scale(1, 1);
		transition: transform 500ms;
		&.empty {
			transform: scale(1, 0);
		}

		> div {
			text-align: center;
			background-color: #ddd;
			padding: 1em;
			height: 5em;
			border-radius: 10%;
		}
	}
}
